.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  border: 2px solid #2d3436;
  padding: 14px 18px;
  color: #fff;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.perguntar{
  border:0;
  background: none;
  margin-left: 4px;
  border: 2px solid #2d3436;
  padding: 14px 18px;
  color: #fff;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}